<body>
<div class="bg-img">
  <form class=" container">
    <p align="center">Please fill in this form to create an account.</p>
    <hr>
    <table>
      <pre><tr><p>Email:          <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required></p></tr></pre>
      <pre><tr><p>Password:       <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required></p></tr></pre>
      <pre><tr><p>Repeat Password:<input type="password" placeholder="Repeat Password" [(ngModel)]="repeatpassword" name="psw-repeat" required></p></tr></pre>
      <tr></tr>
      <button class="btn" type="submit">Register</button>
    </table>
  </form>
</div>
</body>
