<!--card.component.html>-->
  <body>
    <h6>Add a new card</h6>
    <igx-card class="card-wrapper">
      <igx-card-header>
        <p igxCardHeaderTitle>Title:<input type="text" name="card-title" placeholder="Enter title of card" /></p>
      </igx-card-header>
      <igx-card-content>
        <p><b>Description:</b><input type="text" name="card-content" placeholder="attachment" /></p>
        <p><b>Due Date:</b><input type="date" name="duedate" placeholder="due date for your task" /></p>
      </igx-card-content>
      
      <igx-card-actions>
        <button igxButton="icon" vertical-align="middle">
          <igx-icon>archive</igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
  </body>
